.main-card {
    @include box-size(280px, 300px);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 6px;
    text-align: center;
    background: linear-gradient(180deg, #7028e4, #e5b2ca 40%, #ffffff 0px, #ffffff 100%);
    box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
    margin-left: 30px;
    transition: box-shadow 0.3s ease;
    &:hover {
        box-shadow: 1px 1px 30px rgba(0,0,0,0.5);
    }
    &__image {
        @include box-size(150px, 150px);
        object-fit: cover;
        margin: 0 auto;
        border-radius: 50%;
        border: 10px solid #ffffff;
    }
    &-play {
        background: linear-gradient(180deg, #92fe9d, #00c9ff 40%, #ffffff 0px, #ffffff 100%);
    }
}

.word-card {
    @include box-size(250px, 300px);
    position: relative;
    cursor: pointer;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
    margin: 30px;
    overflow: hidden;
    border-radius: 3px;
    transition: box-shadow 0.3s ease;
    text-align: center;
    
    &:hover {
        box-shadow: 1px 1px 30px rgba(0,0,0,0.5);
    }

    &__image {
        @include box-size(80%, 100%);
        object-fit: cover;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    &__header {
        display: inline-block;
        margin-top: 12px;
    }
    &__reverse {
        @include box-size(45px, 45px);
        position: absolute;
        bottom: 3px;
        right: 3px;
        object-fit: cover;
    }
    /*& + &-translate {
        
    }*/
}