* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
}
body {
    font-size: 1.6rem;
    font-family: "Roboto", "Arial", sans-serif;
}

.wrapper {
    margin: 10px auto;
}

.hidden {
    display: none;
}