* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
}
body {
    font-size: 1.6rem;
    font-family: "Roboto", "Arial", sans-serif;
}

.wrapper {
    width: 80%;
    margin: 10px auto;
}

.hidden {
    display: none !important; 
}

.overflow-none {
    overflow: hidden;
}

@media (max-width: 1280px) {
    .wrapper {
        width: 95%;
    }
}
@media (max-width: 1090px) {
    .wrapper {
        width: 80%;
    }
}
@media (max-width: 868px) {
    .wrapper {
        width: 95%;
    }
}

@media (max-width: 730px) {
    .wrapper {
        width: 80%;
    }
}