@mixin position($position:absolute, $value:0) {
    position: $position;
    top: $value;
    left: $value;
}

@mixin box-size($height, $width) {
    height: $height;
    width: $width;
} 

@mixin transform-rotate ($rotate, $origin) {
    transform: rotate($rotate);
    transform-origin: $origin;
}