.hamburger {
    @include box-size($height: 22px, $width: 40px);
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    cursor: pointer;
    position: relative;
    z-index: 2;
    & > * {
        transition: all 0.6s ease;
    }

    &__item {
        display: inline-block;
        @include box-size($height: 4px, $width: 35px);
        border-radius: 4px;
        background-color: #5f5a5a;
    }
}

.hamburger-active {
    cursor: pointer;
    .hamburger__first {
        @include transform-rotate ($rotate: 30deg, $origin: left);
        transition: transform 0.6s ease;
    }
    .hamburger__second {
        display: none;
    }
    .hamburger__third {
        @include transform-rotate ($rotate: -30deg, $origin: left);
        transition: transform 0.6s ease;
    }
}