.switch {
    display: inline-block;
    @include position($position:relative);
    @include box-size($height: 40px, $width: 120px);
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border: 2px solid rgba(0,0,0,0.15);
    &-checkbox {
        opacity: 0;
    }
    &-checkbox:checked  {
        & ~ .switch-handle{
            left: 83px;
        }
        & ~ .switch-label {
            @extend %train-gradient;
            &::before {
                content: "TRAIN";
                @include position($top: 11px, $left: 11px);
            }
        }
    }
    &-label {
        @include position();
        cursor: pointer;
        @include box-size($height: 40px, $width: 120px);
        border-radius: 5px;
        transition: all 0.3s ease;
        @extend %play-gradient;
       
        &::before {
            @include position($top: 11px, $left: 70px);
            content: "PLAY";
        }
    }
    &-handle {
        @include position($top: 3px, $left: 3px);
        @include box-size($height: 34px, $width: 34px);
        cursor: pointer;
        transition: all 0.3s linear;
        border-radius: 5px;
        background-color: #ffffff;
        box-shadow: -1px 1px 5px rgba(0,0,0,0.2);
        &::before {
            content: "";
            @include position($top: 10px, $left: 10px);
            @include box-size($height: 15px, $width: 15px);
            box-shadow: inset  0 1px rgba(0,0,0,0.15);
            border-radius: 50%;
            background-color: #f9f9ff;
        }
    }
}